.burger__nav {
  display: none;

  @media screen and (max-width: $breakpoint__lm) {
    display: block;
  }
}

.hamburger {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 70px;
  right: 30px;
  z-index: 999;

  @media screen and (max-width: $breakpoint__lm) {
    display: block;
  }

  .bar {
    display: block;
    width: 30px;
    height: 4px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: $color-electric-green;
  }

  &.active {
    .bar:nth-child(2) {
      opacity: 0;
    }

    .bar:nth-child(1) {
      transform: translateY(10px) rotate(45deg);
    }

    .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}

.burger__menu {
  z-index: 999;
  padding-top: 160px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  position: fixed;
  right: -550px;
  top: 0;
  background-color: $color-light-black;
  width: 250px;
  height: 100%;
  transition: all 0.3s ease;

  &.active {
    right: 0;
  }
}

.burger__link {
  color: $color-white;
  transition: 0.2s ease;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    width: 100%;
    background-color: $color-electric-green;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
  }

  &:hover,
  &:focus {
    &::after {
      opacity: 1;
    }
  }

  &:focus {
    color: $color-black;
  }
}
