.header {
  padding: 62px 0 0 0;
  background-color: $color-light-black;
  background: url("/assets/header/header-grid-bg.jpg") no-repeat center/cover;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: $color-light-black;
    transform: skewY(1deg);
    transform-origin: bottom left;
    z-index: -1;
    @media screen and (max-width: $breakpoint__l) {
      bottom: 20px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
