.header {
  padding: 3.875rem 0 0 0;
  background-color: $color-light-black;
  background-image: url("../assets/header/header-grid-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
  overflow: visible;

  @media screen and (max-width: $breakpoint__l) {
    background-size: auto;
  }

  @media screen and (max-width: $breakpoint__lm) {
    padding: 2.5rem 0 1.875rem 0;
    position: sticky;
    top: 0;
    z-index: 1001;
    transition: all 0.3s ease;
    padding-bottom: 1.875rem;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header.scrolled {
  background-color: $color-light-black;
  background-image: none;
}
