.portfolio {
  color: $color-black;
  padding: 13.75rem 0 7.5rem;
  position: relative;

  @media screen and (max-width: $breakpoint__m) {
    padding-bottom: 4.375rem;
  }

  .portfolio__description {
    position: absolute;
    z-index: 1;
    top: 16.875rem;
    left: -2.8125rem;
    text-transform: uppercase;
    background-color: $color-electric-green;
    padding: 1rem 1.5rem;
    font-weight: 500;
    font-size: 1rem;
    transform: rotate(270deg);

    @media screen and (max-width: $breakpoint__xl) {
      top: 13.75rem;
      padding: 0.75rem 1.125rem;
    }

    @media screen and (max-width: $breakpoint__ml) {
      top: 10.3125rem;
      left: -2.1875rem;
      font-size: 0.875rem;
      padding: 0.5rem 0.625rem;
    }

    @media screen and (max-width: $breakpoint__ml) {
      top: 9.6875rem;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    min-width: 0;
  }

  &__title {
    @media screen and (max-width: $breakpoint__xxl) {
      text-align: center;
    }
  }
}

.slider-wrapp {
  position: relative;
}

.portfolio__slider {
  margin-top: 3.75rem;
  display: flex;
  width: 100%;

  @media screen and (max-width: $breakpoint__xxl) {
    margin-top: 6.25rem;
  }
}

.portfolio__item {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $breakpoint__ml) {
    flex-direction: column;
    align-items: center;
    row-gap: 1.125rem;
  }
}

.portfolio__item img {
  width: 48.4%;
  max-height: 29.0625rem;
  min-height: 12.8125rem;
  border-radius: 2rem;
  border: 0.625rem solid #e5e7ec;

  @media screen and (max-width: $breakpoint__l) {
    border: 0.375rem solid #e5e7ec;
  }

  @media screen and (max-width: $breakpoint__ml) {
    width: 85.5%;
  }
}

.portfolio__slider--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2.5rem;
}

.portfolio__slider--tags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  margin-bottom: 1.5rem;
  justify-content: center;

  @media screen and (max-width: $breakpoint__ml) {
    row-gap: 0.625rem;
  }
}

.portfolio__slider--tags p {
  border-radius: 2rem;
  padding: 0.375rem 0.75rem;
  background-color: $color-light-grey;
  color: $color-grey;
  font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);

  @media screen and (max-width: $breakpoint__xxs) {
    padding: 0.25rem 0.5rem;
  }
}

.portfolio__slider--link {
  margin-bottom: 0.5rem;
  display: flex;
  column-gap: 0.5rem;

  @media screen and (max-width: $breakpoint__lm) {
    flex-direction: column;
    align-items: center;
    row-gap: 0.3125;
  }
}

.portfolio__slider--link a {
  background-color: $color-electric-green;
  padding: 0.5625rem 1.125rem;
  border-radius: 100%;
  position: relative;
  transition: all 0.3s ease;
  @media screen and (max-width: $breakpoint__lm) {
    padding: 1.125rem;
  }

  &:hover {
    background-color: #333;

    &:after {
      filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
        hue-rotate(59deg) brightness(104%) contrast(103%);
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 48%;
    transform: translate(-50%, -50%);
    right: 0.1875rem;
    background: url("../assets/services/tab_arrow-black.svg") center/contain
      no-repeat;
    width: 1rem;
    height: 0.875rem;
  }
}

.portfolio__slider--text {
  font-size: clamp(0.875rem, 0.804rem + 0.36vw, 1.125rem);
  max-width: 48.75rem;
  color: $color-grey;
}

.portfolio__slider--prev {
  position: absolute;
  top: 35%;
  left: -4.6875rem;
  border-radius: 100%;
  border: 1px solid $color-light-black;
  padding: 1.6875rem;
  transition: all 0.3s ease;

  @media screen and (max-width: $breakpoint__m) {
    padding: 1.375rem;
    left: -2rem;
  }

  &:hover {
    background-color: $color-black;

    &::after {
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
        hue-rotate(307deg) brightness(104%) contrast(101%);
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: -2px;
    background: url("../assets/portfolio/arrow-left.svg") center/contain
      no-repeat;
    width: 1.75rem;
    height: 1rem;

    @media screen and (max-width: $breakpoint__m) {
      width: 1.375rem;
      height: 0.875rem;
      right: -1px;
      top: 48%;
    }
  }
}

.portfolio__slider--next {
  position: absolute;
  top: 35%;
  right: -4.0625rem;
  border-radius: 100%;
  border: 1px solid $color-light-black;
  padding: 1.6875rem;
  transition: all 0.3s ease;

  @media screen and (max-width: $breakpoint__m) {
    padding: 1.375rem;
  }

  &:hover {
    background-color: $color-black;

    &::after {
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
        hue-rotate(307deg) brightness(104%) contrast(101%);
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: -2px;
    background: url("../assets/portfolio/arrow-right.svg") center/contain
      no-repeat;
    width: 1.75rem;
    height: 1rem;

    @media screen and (max-width: $breakpoint__m) {
      width: 1.375rem;
      height: 0.875rem;
      right: -1px;
      top: 48%;
    }
  }
}

.slider__btn {
  @media screen and (max-width: $breakpoint__xxl) {
    position: absolute;
    top: 1.875rem;
    left: 5rem;
  }

  @media screen and (max-width: $breakpoint__m) {
    top: 3.125rem;
  }

  @media screen and (max-width: $breakpoint__ml) {
    display: none;
  }
}
