.process {
  margin-top: 5.625rem;
  padding: 4.375rem 0 0;
  background-color: $color-light-black;
  width: 100%;
  position: relative;

  .process__description {
    position: absolute;
    top: 6.5625rem;
    left: -3.4375rem;
    text-transform: uppercase;
    background-color: $color-grey;
    padding: 1rem 1.5rem;
    font-weight: 500;
    font-size: 1rem;
    transform: rotate(270deg);

    @media screen and (max-width: $breakpoint__l) {
      padding: 0.5rem 0.9375rem;
      top: 3.75rem;
      left: -3rem;
      font-size: 0.875rem;
    }

    @media screen and (max-width: $breakpoint__m) {
      top: 0.9375rem;
    }

    @media screen and (max-width: $breakpoint__ml) {
      top: -1.5625rem;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 42.1875rem;
    text-align: center;
    row-gap: 1.5rem;
  }

  &__text {
    color: $color-light-grey;
  }

  &:before {
    content: "";
    position: absolute;
    top: -0.9375rem;
    left: 0;
    width: 100%;
    height: 7.5rem;
    background-color: $color-light-black;
    transform: skewY(-2deg);
    transform-origin: top left;
    z-index: -1;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -4.375rem;
    right: 0;
    width: 100%;
    height: 7.5rem;
    background-color: $color-light-black;
    transform: skewY(-2deg);
    transform-origin: top left;
    z-index: -1;
  }
}

.process__cards {
  position: relative;
  top: 6.25rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

  .process__card {
    width: 47.33%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 2.5rem;
    border-radius: 3.5rem;
    padding: 3rem;
    background-color: $color-black-dark;

    @media screen and (max-width: $breakpoint__m) {
      row-gap: 0.9375rem;
      padding: 2.1875rem;
      width: 81.33%;
    }

    @media screen and (max-width: $breakpoint__ms) {
      width: 100%;
    }

    &--image img {
      border-radius: 2rem;
      width: 100%;
      max-width: 34.375rem;
    }

    &--content {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
    }

    &--text {
      font-size: clamp(0.875rem, 0.804rem + 0.36vw, 1.125rem);
    }

    .procces__card--num {
      font-family: $font-secondary;
      font-size: clamp(1.5rem, 1.357rem + 0.71vw, 2rem);
      color: $color-light-grey;
    }
  }
}
