.services {
  padding: 1.875rem 0 5.625rem;
  color: $color-light-black;
  position: relative;

  @media screen and (max-width: $breakpoint__m) {
    padding-bottom: 2.5rem;
  }
}

.services__description {
  position: absolute;
  z-index: -1;
  top: 6.5625rem;
  left: -2.8125rem;
  text-transform: uppercase;
  background-color: $color-electric-green;
  padding: 1rem 1.5rem;
  font-weight: 500;
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  transform: rotate(270deg);

  @media screen and (max-width: $breakpoint__xxl) {
    visibility: hidden;
  }

  @media screen and (max-width: $breakpoint__xl) {
    visibility: visible;
    top: 1.875rem;
  }

  @media screen and (max-width: $breakpoint__l) {
    visibility: visible;
    padding: 0.3125rem 0.625rem;
    top: 1.25rem;
  }

  @media screen and (max-width: $breakpoint__m) {
    visibility: visible;
    top: 0.9375rem;
    left: -2.3125rem;
  }
}

.services__row {
  display: flex;
  column-gap: 2.375rem;
  justify-content: space-between;
  align-items: flex-end;

  @media screen and (max-width: $breakpoint__xl) {
    flex-direction: column;
    align-items: center;
    row-gap: 2.5rem;
  }

  @media screen and (max-width: $breakpoint__ms) {
    row-gap: 0.9375rem;
  }
}

.services__text {
  margin: 1.5rem 0 2.5rem;

  @media screen and (max-width: $breakpoint__xl) {
    text-align: center;
  }
}

.services__content {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $breakpoint__xl) {
    align-items: center;
  }
}

.services__tabs {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  @media screen and (max-width: $breakpoint__xl) {
    flex-direction: row;
    column-gap: 1.125rem;
  }

  @media screen and (max-width: $breakpoint__l) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (max-width: $breakpoint__ml) {
    row-gap: 0.9375rem;
    column-gap: 0.625rem;
  }
}

.services__tabs--item {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  border: 1px solid $color-light-grey;
  border-radius: 7.5rem;
  padding: 1.625rem 2.5rem;
  color: $color-grey;
  font-weight: 500;
  font-size: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
  cursor: pointer;

  @media screen and (max-width: $breakpoint__xl) {
    padding: 0.625rem 25px;
    column-gap: 0.625rem;
  }

  @media screen and (max-width: $breakpoint__l) {
    padding: 12px 1.5625rem;
    column-gap: 0.625rem;
    flex: 1 0 20.9375rem;
  }

  @media screen and (max-width: $breakpoint__m) {
    flex: 1 0 14.6875rem;
    column-gap: 1.125rem;
  }

  @media screen and (max-width: $breakpoint__ml) {
    padding: 0.625rem 0.9375rem;
    column-gap: 0.625rem;
    flex: 1 0 12.5rem;
  }

  @media screen and (max-width: $breakpoint__ms) {
    flex: 1 0 8.125rem;
    padding: 0.5rem;
    justify-content: center;
  }

  @media screen and (max-width: $breakpoint__s) {
    flex: 1 0 12.5rem;
    padding: 0.875rem 0.9375rem;
    justify-content: flex-start;
    column-gap: 0.9375rem;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 2.5rem;
    transform: translate(-50%, -50%);
    background: url("../assets/services/tab_arrow.svg") center/contain no-repeat;
    width: 1.5625rem;
    height: 0.9375rem;
    transition: all 0.3s ease;

    @media screen and (max-width: $breakpoint__xl) {
      visibility: hidden;
    }

    @media screen and (max-width: $breakpoint__l) {
      visibility: visible;
      right: 1.5625rem;
    }

    @media screen and (max-width: $breakpoint__ml) {
      visibility: hidden;
    }

    @media screen and (max-width: $breakpoint__s) {
      visibility: visible;
    }
  }

  &:hover,
  &.active {
    background-color: $color-black;
    color: $color-white;

    &::after {
      filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
        hue-rotate(59deg) brightness(104%) contrast(103%);
    }

    .services__tabs--num {
      color: $color-electric-green;
    }
  }
  .services__tabs--num {
    font-family: $font-secondary;
  }
}

.services__team {
  display: none;
  column-gap: 1.5rem;
  width: 100%;
  -webkit-animation: slide-in-right 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  &.visible {
    display: flex;
  }

  @media screen and (max-width: $breakpoint__xl) {
    justify-content: center;
  }

  @media screen and (max-width: $breakpoint__m) {
    align-items: center;
  }

  @media screen and (max-width: $breakpoint__ms) {
    column-gap: 0.625rem;
  }

  @media screen and (max-width: $breakpoint__s) {
    flex-direction: column;
    row-gap: 0.625rem;
  }
}

.services__team--image img {
  width: 100%;
  max-height: 36.25rem;
  max-width: 28.4375rem;
  background-color: $color-light-grey;
  border-radius: 2rem;
}

.services__team--wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1.125rem;

  @media screen and (max-width: $breakpoint__s) {
    flex-direction: row;
    column-gap: 0.625rem;
  }

  @media screen and (max-width: $breakpoint__xs) {
    flex-direction: column;
  }
}

.services__team--card {
  display: flex;
  flex-direction: column;
  row-gap: 5.625rem;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 3rem;
  background-color: $color-black-dark;
  color: $color-white;
  width: 15.9375rem;

  @media screen and (max-width: $breakpoint__m) {
    padding: 1rem;
    row-gap: 2.5rem;
  }

  @media screen and (max-width: $breakpoint__ml) {
    row-gap: 1.125rem;
    width: 12.5rem;
  }

  @media screen and (max-width: $breakpoint__s) {
    width: 11.25rem;
  }

  @media screen and (max-width: $breakpoint__xs) {
    padding: 1.125rem;
    width: 16.25rem;
  }

  p {
    font-size: clamp(0.875rem, 0.804rem + 0.36vw, 1.125rem);
  }
}

.services__team--link {
  display: flex;
  align-items: center;
  column-gap: 0.875rem;

  p {
    font-size: clamp(1rem, 1.107rem + 0.71vw, 1.75rem);
    font-weight: 600;
    line-height: 0.9;
    letter-spacing: -0.01em;
  }

  a {
    background-color: #333;
    padding: 2rem;
    border-radius: 100%;
    position: relative;
    transition: all 0.3s ease;

    @media screen and (max-width: $breakpoint__ms) {
      padding: 1.625rem;
      justify-content: space-around;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      right: 8px;
      background: url("../assets/services/tab_arrow-white.svg") center/contain
        no-repeat;
      width: 1.5rem;
      height: 1.125rem;

      @media screen and (max-width: $breakpoint__ms) {
        right: 0.1875rem;
      }
    }

    &:hover {
      background-color: $color-electric-green;

      &:after {
        filter: brightness(0) saturate(100%) invert(14%) sepia(0%)
          saturate(995%) hue-rotate(144deg) brightness(99%) contrast(83%);
      }
    }
  }
}

.services__team--card:nth-child(2) {
  background-color: $color-electric-green;
  color: $color-black;

  a {
    background-color: $color-white;
    padding: 2rem;
    border-radius: 100%;
    position: relative;
    transition: all 0.3s ease;

    @media screen and (max-width: $breakpoint__ms) {
      padding: 1.625rem;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      right: 0.5rem;
      background: url("../assets/services/tab_arrow-black.svg") center/contain
        no-repeat;
      width: 1.5rem;
      height: 1.125rem;

      @media screen and (max-width: $breakpoint__ms) {
        right: 0.1875rem;
      }
    }

    &:hover {
      background-color: #333;

      &:after {
        filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
          saturate(0%) hue-rotate(59deg) brightness(104%) contrast(103%);
      }
    }
  }
}
