.header__btn {
  background-color: $color-electric-green;
  color: $color-black;
  font-weight: 600;
  font-size: 1.125rem;
  border-radius: 2rem;
  padding: 1.25rem 2rem;
  border: 1px solid transparent;
  transition: all 0.3s ease;

  &:hover {
    color: $color-electric-green;
    background-color: $color-black;
    border: 1px solid $color-electric-green;
  }

  @media screen and (max-width: $breakpoint__lm) {
    display: none;
  }
}

.burger__btn {
  align-self: flex-end;
  background-color: $color-electric-green;
  color: $color-black;
  font-weight: 600;
  font-size: 1.125rem;
  border-radius: 2rem;
  padding: 1.25rem 2rem;
}

.contact__btn {
  flex: 1;
  color: #fff;
  text-align: center;
  border: 1px solid $color-white;
  border-radius: 3rem;
  padding: 1.5rem 2rem;
  font-size: 1.125rem;
  transition: all 0.3s ease;

  &:hover {
    color: $color-black;
    background-color: $color-white;
    border: 1px solid $color-electric-green;
  }
}
