// Fonts

$font-main: "Archivo", sans-serif;
$font-secondary: "Monument Extended", sans-serif;

// Colors

$color-white: #fff;
$color-light-grey: #ddd;
$color-grey: #444;
$color-black: #101010;
$color-black-dark: #2b2b2b;
$color-light-black: #222;
$color-electric-green: #9dff50;

// Base

$container-width: 1260px;
$container-padding-x: 15px;

// Media queries
$breakpoint__xxl: 1300px;
$breakpoint__xl: 1200px;
$breakpoint__l: 1048px;
$breakpoint__lm: 890px;
$breakpoint__m: 768px;
$breakpoint__ml: 640px;
$breakpoint__ms: 460px;
$breakpoint__s: 425px;
$breakpoint__xs: 375px;
$breakpoint__xxs: 320px;
